{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">{{ category.name }}</h1>
    <p class="lead">{{ category.description }}</p>

    <hr>

    <div class="row">
        {# Naudojame _set.all, kad ištrauktume visus šios kategorijos produktus #}
        {% for product in category.product_set.all %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                        <a href="/kontaktai/" class="btn btn-outline-dark">Klausti kainos</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-muted">Šioje kategorijoje produktų kol kas nėra.</p>
            </div>
        {% endfor %}
    </div>

    <a href="/produktai/" class="btn btn-secondary mt-3">Grįžti į visas kategorijas</a>
</div>
{% endblock %}